.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.icon-gradient {
  font-size: 1.3rem; 
  background: linear-gradient(45deg, #00ffff, #6a0dad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ellipse1-bg{
  width: 100%;
  background-image: url('./assets/Ellipse\ 33.svg'); 
  background-repeat: no-repeat;
}

.ellipse1-bg-small {
  width: 100%; 
  height: 100%; 
  background-image: url('./assets/Ellipse 33.svg'); 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left; 
  position: relative; 
}


/* gradientBorder.css */
.gradient-border {
  border: 2px solid transparent; 
  border-radius: 9999px 9999px 9999px 9999px; 
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(black, black), linear-gradient(to right, #a020f0, #00bbcc);
}



input:-webkit-autofill {
  background-color: #000000 !important; 
  color: #ffffff !important; 
}
